<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="APP_NAME" value="appmain" /> 
	<property name="log.dir" value="log" />   
    <contextName>${APP_NAME}</contextName>
      
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%p] [%thread] %logger - %msg%n</pattern>
		</encoder>		
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<File>${log.dir}/appmain.log</File>
		<Append>false</Append>
		<encoder>
			<pattern>%d{ISO8601} [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>		
	</appender>
	<appender name="nutzfile" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <File>${log.dir}/nutz.log</File>  
        <encoder>
			<pattern>%d{ISO8601} [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>  
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">  
            <level>TRACE</level>  
        </filter>  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <fileNamePattern>${log.dir}/nutz.log.%d{yyyy-MM-dd}</fileNamePattern>  
        </rollingPolicy>
	</appender>  
	<appender name="ERRORFILE" class="ch.qos.logback.core.FileAppender">
		<File>${log.dir}/appmain-error.log</File>
		<Append>false</Append>
    	<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      		<level>WARN</level>
    	</filter>
		<encoder>
			<pattern>%d{ISO8601} [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>		
	</appender>
	<root>
		<level value="debug" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
		<appender-ref ref="ERRORFILE" />
	</root>
	<logger name="com.alibaba">
		<level value="info" />
	</logger>
	<logger name="org.apache">
		<level value="info" />
	</logger>
	<logger name="ch.qos">
		<level value="INFO" />
	</logger>
	<logger name="com.mchange.v2">
		<level value="info"/>
	</logger>
	<logger name="org.nutz"  additivity="false">
		<level value="info"/>
		<appender-ref ref="nutzfile" />
		<appender-ref ref="CONSOLE" />  
	</logger>
	<logger name="org.nutz.dao"  additivity="false">
		<level value="debug"/>
		<appender-ref ref="nutzfile" /> 
		<appender-ref ref="CONSOLE" /> 
	</logger>
</configuration>
